<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Socket.io - Simple chat</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="http://cdn.staticfile.org/jquery/2.1.1-rc2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/chat.js"></script>
</head>
<body>
<h1>AChat</h1>
<div>
    <span id="status">Connecting...</span>
    <input type="text" id="input"/>
</div>
<div id="content"></div>
</body>
</html>